*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: #333333;
}

body{
    background-color: #DCDEE1;
    width:961px;
    height: 851px;
    margin: 50px auto 20px auto;
}

header, nav,main{
    background-color: white;
    width: 100%;
    margin: 0 auto;
}



header{margin-top: 10px;
    height: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
}
header>div{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    /* vertical-align: middle; */
}

.logo{
    border: 1px solid#ff881f;
    height: 39px;
    line-height: 39px;
    background-color: #ff881f;
    font-size: 35px;
    margin-left: 30px;
    margin-top: 1px;
}

.logo>div{
    display: inline-block;
}

.logo>div:first-child{
    color: white;
    padding-left: 10px;
    padding-right: 2px;
}

.logo>div:last-child{
    background-color: white;
    padding-right:10px;
}

.contact{
    margin-left: 326px;
    margin-right: 64px;
}
.contact>i{
    margin-right: 4px;
}
.buy{
    float: right;
    margin: 0 auto;
}

header>div>i{
   color:#ff881f;
   font-size: 16px;
   margin: 0 3px;
   padding-top: 3px;
}

header>div:nth-child(3)>i{
    font-size: 12px;
}
.contact{
}


.telephone>i{
padding-bottom: 3px;
}

.buy{
    background-color:#009900;
    /* height: 40px; */
    height: 50px;
    width: 96px;
    line-height: 50px;
    margin-right: 0px;
    font-size: 12px;
text-align: center;
}

.buy:hover{
    background-color: #2F4766;
}
.buy>span{
color: white;
}
.buy>i{
    color: white;
    font-size: 12.5px;
}

nav{
    border-top: 1px solid #4383af;
    border-bottom: 1px solid #4383af;
height: 48px;
}

nav>ul>li{
    display: inline-block;
list-style-type: none;
text-transform: capitalize;
padding: 0 48px;
height: 48px;
line-height: 48px;
text-align: center;
font-size: 16px;

}

li:hover{
    background-color: #4383af;
    border-bottom: 3px solid black;
    color: white;
}

main{
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 30px;
    height: 728px;
    border-bottom: 5px solid #4383af;
}

.first{
    width:400px;
    text-align: justify;
    margin-bottom: 30px;
}
main>div>h1{
padding-bottom: 20px;
}
.first>img{
padding-top: 18px;
padding-bottom: 18px;
}
h1{
    font-size: 40px;
}
article{
    display: inline-block;
    float: left;
}

article:last-child{
    width: 450px;
}

article>section{
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    width: 200px;
    height: 284px;
    padding: 10px;
    border: 1px solid #D2D2D2;
    margin:0;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;

}

.second{
    display: inline-block;
    padding-left: 50px;
    width: auto;
    text-align: justify;
}

.second>section>.item-name{
    text-transform: uppercase;
    color: #6c84b2;
    padding-top: 3px;
    padding-bottom: 1px;
    text-align: left;
    letter-spacing: -0.17px;
    word-spacing: 0.18px;
}

.second>section:first-child>.item-desc{
letter-spacing: 0.07px;
word-spacing: 0.2px;
}

.second>section:nth-child(2)>.item-name{
    letter-spacing: -0.05px;
    word-spacing: 1.4px;
}

.second>section:nth-child(2)>.item-desc{
    letter-spacing: 0.2px;
    word-spacing: -1.7px;
}

.second>section:nth-child(3)>.item-name{
    letter-spacing: -0.08px;
    word-spacing: 0.8px;
}

.second>section:nth-child(3)>.item-desc{
    letter-spacing: -0.06px;
    word-spacing: -0.6px;
}

section>div>span{
    display: inline-block;
    font-weight: bold;
    float: left;
    height: 23px;
    line-height: 23px;
    padding-right: 8px;
}

.shop{
    display: inline-block;
}

section>div>span{
    margin-top:1px;
}

section>div{
    padding-top: 10px;
}

input{
    display: inline-block;
    width: 32px;
    height: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #bdb9b9;
    margin-right: -3px;
    margin-left: 1px;
}

button{
    display: inline-block;
    height: 25px;
    width: 90px;
    margin-left: -4px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: #009900;
    color: white;
    letter-spacing: 0.01px;
}


footer{
    font-size: 12px;
    text-align: right;
    letter-spacing: 0.1px;

}

footer>div>i{
    color: red;
padding-top: 11px;
}

a{
    text-decoration: none;
    color: #4383AF;
}



