*{
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: #333333;
}

.body {
  margin: 50px auto 20px auto;
  background-color: #DCDEE1;
  height: 851px;
  width: 961px;
}

.header, .nav, .page {
  margin: 0 auto;
  background-color: white;
  width: 100%;
}

.header {
  display: flex;
  margin-top: 10px;
  height: 50px;
  line-height: 50px;
  align-items: center;
}

.header__item {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}

.header__item-icon {
  margin: 0 3px;
  color:#FF881F;
  font-size: 16px;
}

.header__logo {
  margin-left: 30px;
  margin-top: 1px;
  height: 39px;
  line-height: 39px;
  background-color: #FF881F;
  border: 1px solid#FF881F;
  font-size: 35px;
}

.logo__item {
  display: inline-block;
}

.logo__orange {
  padding-left: 10px;
}

.logo__white {
  margin-left: 2px;
  padding-right: 10px;
  float: right;
  background-color: #fff;
}

.logo__orange-p {
  color: #fff;
}

.header__contact {
  margin-left: 326px;
  margin-right: 64px;
  padding-top: 5px;
  padding-bottom: 8px;
}

.header__contact-icon {
  box-sizing: border-box;
  margin-right: 5px;
  line-height: 50px;
}

.header__contact-p {
  display: inline-block;
  margin-left: -5px;
}

.header__telephone {
  margin: 0 auto;
  margin-left: -5px;
  float: right;
}

.header__telephone-icon {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 13px;
}

.header__buy {
  margin-right: 0px;
  height: 50px;
  width: 96px;
  background-color:#009900;
  line-height: 50px;
  font-size: 12px;
  text-align: center;
}

.header__buy-text {
  display: inline-block;
  padding-top:1px;
  padding-left: 1px;
  padding-right: 3px;
  color: white;
}

.header__buy-icon {
  margin-right: 0px;
  color: white;
  font-size: 12.5px;
}

.nav {
  height: 48px;
  border-top: 1px solid #4383AF;
  border-bottom: 1px solid #4383AF;
}

.nav__item {
  display: inline-block;
  padding: 0 48px;
  height: 48px;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  line-height: 48px;
  list-style-type: none;
}

.nav__item:hover {
  border-bottom: 3px solid black;
  background-color: #4383AF;
  color: white;
}

.page {
  box-sizing: border-box;
  padding-top: 25px;
  padding-left: 30px;
  height: 728px;
  border-bottom: 5px solid #4383AF;
}

.page__title {
  padding-bottom: 20px;
  font-size: 40px;
}

.article {
  margin-bottom: 30px;
  float: left;
  width:400px;
  text-align: justify;
}

.article__img {
  padding-top: 18px;
  padding-bottom: 18px;
}

.products {
  display: inline-block;
  padding-left: 50px;
  width: 450px;
  text-align: justify;
}

.product__card {
  box-sizing: border-box;
  margin: 0px 20px 20px 0px;
  padding: 10px;
  float: left;
  height: 284px;
  width: 200px;
  font-size: 13px;
  border: 1px solid #D2D2D2;
}

.product__card-name-link {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 1px;
  color: #4383AF;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  word-spacing: 1px;
}

.product__card-text {
  word-spacing: -1px;
  letter-spacing: 0.1px;
}

.product__card-row {
  padding-top: 10px;
}

.product__card-row-cart_btn:hover {
  background-color: #2F4766;
}

.product__card-row-price {
  margin-top: 1px;
  padding-right: 8px;
  float: left;
  height: 23px;
  line-height: 23px;
  font-weight: bold;
}

.product__card-row-cart {
  display: inline-block;
}

.product__card-row-cart_input {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 1px;
  margin-right: -3px;
  height: 25px;
  width: 33px;
  text-align: center;
  border: 1px solid #BDB9B9;
}

.product__card-row-cart_btn {
  display: inline-block;
  margin-left: -4px;
  height: 25px;
  width: 90px;
  border: none;
  color: white;
  background-color: #009900;
  border-radius: 0px 5px 5px 0px;
  letter-spacing: 0.2px;
}

.footer {
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.1px;
}

.footer-row-icon {
  padding-top: 11px;
  color: red;
}

.footer-row-link {
  color: #4383AF;
  text-decoration: none;
}
